Web/WebServices-Assignment-1/TemperatureConverter/WebContent/wsdl/TempConverter.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices.metacube.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservices.metacube.com" xmlns:intf="http://webservices.metacube.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservices.metacube.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="fahrenhiteToCelsiusConverter">
    <complexType>
     <sequence>
      <element name="temperatureInFahrenhite" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="fahrenhiteToCelsiusConverterResponse">
    <complexType>
     <sequence>
      <element name="fahrenhiteToCelsiusConverterReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="fahrenhiteToCelsiusConverterRequest">

      <wsdl:part element="impl:fahrenhiteToCelsiusConverter" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="fahrenhiteToCelsiusConverterResponse">

      <wsdl:part element="impl:fahrenhiteToCelsiusConverterResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TempConverter">

      <wsdl:operation name="fahrenhiteToCelsiusConverter">

         <wsdl:input message="impl:fahrenhiteToCelsiusConverterRequest" name="fahrenhiteToCelsiusConverterRequest">

       </wsdl:input>

         <wsdl:output message="impl:fahrenhiteToCelsiusConverterResponse" name="fahrenhiteToCelsiusConverterResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TempConverterSoapBinding" type="impl:TempConverter">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="fahrenhiteToCelsiusConverter">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="fahrenhiteToCelsiusConverterRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="fahrenhiteToCelsiusConverterResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TempConverterService">

      <wsdl:port binding="impl:TempConverterSoapBinding" name="TempConverter">

         <wsdlsoap:address location="http://localhost:8080/TemperatureConverter/services/TempConverter"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
